@model IEnumerable<CoffeeManagement.Models.Orders.Order>

<!DOCTYPE html>

<html>
<head>
    <title>List all Menu</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <button type="button" class="btn btn-primary">
        <a asp-action="~/Views/Customer/List.cshtml" class="text-decoration-none text-white">Đăng nhập</a>
    </button>
    <button type="button" class="btn btn-primary">
    <a asp-action="~/Views/Customer/List.cshtml" class="text-decoration-none text-white">Đăng ký</a>
    </button>
    <div>
        <h1>List all Menu</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Name</td>
                        <td>@order.Price</td>
                        <td>
                            <button type="button" class="btn btn-info">
                                <a asp-action="UpdateOrder" asp-route-ID="@order.Id">Cập Nhật</a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <a asp-action="DeleteOrder" asp-controller="Order" asp-route-ID="@order.Id">Xóa</a>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <button type="button" class="btn btn-primary">
            <a asp-action="AddOrder" class="text-decoration-none text-white">Thêm Thực đơn</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a asp-controller="~View/Employee/List" class="text-decoration-none text-white">Nhân viên</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a asp-controller="~View/Customer/List" class="text-decoration-none text-white">Khách hàng</a>
        </button>
    </div>
</body>
</html>