@model IEnumerable<CoffeeManagement.Models.Customers.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<button type="button m-3" class="btn btn-primary">
    <a asp-action="Create" class="text-decoration-none text-white">Create</a>
</button>

@foreach (var customer in @Model)
{
    <div class="card m-3" style="width: 18rem;">
        <img class="card-img-top" src="~/images/@customer.PhotoPath" alt="@customer.Name">
        <div class="card-body">
            <h5 class="card-title">@customer.ID</h5>
            <p class="card-text">@customer.Name</p>
            <a asp-action="Update" asp-route-id="@customer.ID" class="btn btn-primary" id="tag-a-open-update">Update</a>
            <a asp-action="Delete" asp-route-id="@customer.ID" class="btn btn-primary" id="tag-a-delete">Delete</a>
        </div>
    </div>
}